<div class="my-footer">
  <div class="my-footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="my-footer-copyright">
    Site by Tim Möhrke <br>
    Pictures by Nicoline
  </div>
</div>