<div class="navigation">
  <h1 class= "logo-aylin hidden">Aylin Chang Yoga</h1>
  <ul class="nav-links">
  <li>
      <a class= "nav-item" href="#"> About </a>
    </li>
    <li>
      <a class= "nav-item" href="#"> Practice </a>
    </li>
    <li>
      <%= link_to "Media", media_path, class: "nav-item" %>
    </li>
    <li>
      <a class= "nav-item" href="#"> Contact</a>
    </li>
  </ul>
  <div class="burger">
    <div class="line-1"></div>
    <div class="line-2"></div>
    <div class="line-3"></div>
  </div>
</div>