.call-to-action {
  background-color: transparent;
  padding: 2rem 4rem;
  transition: 0.7s ease;
  color: black;
  text-decoration: none;
  margin-right: 8%;
  border: 2px solid black;
  border-radius: 3px;
}

.call-to-action:hover{
  background-color: black;
  color:white;
  text-decoration: none;
}