.call-to-action {
  background-color: transparent;
  padding: 1.5rem 3rem;
  transition: 0.7s ease;
  color: black;
  text-decoration: none;
  margin-right: 8%;
  border: 2px solid black;
  border-radius: 3px;
  font-size: 0.9rem;
}

.call-to-action:hover{
  background-color: black;
  color:white;
  text-decoration: none;
}