.my-footer {
  background: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  padding: 0px 50px;
  color: rgba(0,0,0,0.5);
  margin-top: 24px;
  position: relative;
  bottom: 0;
}

.my-footer-links {
  display: flex;
  align-items: center;
  color: white;
}
.my-footer-links a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  transition: 0.5s;
}
.my-footer-links a:hover {
  opacity: 1;
}

.my-footer-copyright{
  color: white;
}
