.video-collage-container{
  min-height: 85vh;
  background-color: black;
  display: grid;
  grid-template-columns: 60%;
  justify-content: center;
  align-items: center;
}

.video-collage{
  display: grid;
  grid: repeat(19, 1fr) / repeat(25, 1fr)
}

.video{
  transition: 0.2s;
}
.video:hover{
  z-index: 4;
  transform: scale(1.1);
}

.video-1{
  grid-row: 4 / 14;
  grid-column: 1 / 12;
  height: 100%;
  width: max(100%);
  z-index: 3;
}

.video-2 {
  grid-row: 8 / 18;
  grid-column: 8 / 19;
  height: 100%;
  width: max(100%);
  z-index: 2;
}

.video-3 {
  grid-row: 1 / 12;
  grid-column: 16 / 26;
  height: 100%;
  width: max(100%);
  z-index: 1;
}